header {
    display: flex;
    justify-content: space-around;
}
.container {
    width: 85%;
    margin-left: 15%;
    margin-top: 20px;
}
.article {
    width: 25%;
    display: inline-grid;
    border: 2px solid #c4b6b6;
    padding: 10px;
    margin-left: 10px;
    margin-top: 30px;
    box-shadow: 6px 9px #888888;
    height: 315px;
}

.article-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}